<img src="images/logo.png" height="60" width="60" id="logo">
<uib-progressbar class="progressBar" animate="false" value="total" type="success"><b></b></uib-progressbar>
<h1 class="selection">Your Selection:</h1>
<div class="container selectedContainer ready orderSummary">
  <span id="summary">Flavours:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <div class="repeatingLoop" ng-repeat="select in selectedFlavours">
    <img class="selectedImg" ng-src="{{select.url}}">
  </div>
  <br>
  <span id="summary">Head/Extras:</span>
  <div class="repeatingLoop orderSummary" ng-repeat="select in selectedHeads">
    <img class="selectedImg" ng-src="{{select.url}}">
  </div>
</div>
<div class="price price_payment">
  <h1 class="totalCost_transaction"><b>Total: {{ totalPrice | currency:'£'}}</b></h1>
</div>
<a href="#!head/">
  <div class="backButton" ng-mouseover="changeColourOf_backButton()" ng-mouseleave="colourChange_backButton=''" ng-click="direction()">
    <span class="gf-back glyphicon glyphicon-chevron-left {{colourChange_backButton}}"></span>
  </div>
</a>
<div class="container flavBox card timeSelectBox" style="overflow-y: scroll; height:350px;">
  <md-content class="flaTabs">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Payment">
        <md-content class="md-padding">
          <form ng-submit="formSubmit()" novalidate>
            <!-- <div class="col-md-offset-4">
              <img src="images/SECURE-PAYMENT-LOGO.png" height="100" width="200" style="text-align: center;">
            </div> -->
            <div class="row">
              <div class="col-md-6">
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-3"></div>
                  <div class="col-md-3" style="text-align: center;">
                    <label for="number">Card number</label>
                    <input type="text" ng-model="number" payments-validate="card" payments-type-model="type" size="30" name="number"/>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-1">
                    <label for="expiry">Expiry</label>
                    <input type="text" ng-model="expiry" payments-validate="expiry" name="expiry" size="5"/>
                  </div>
                  <div class="col-md-1"></div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-3"></div>
                  <div class="col-md-3" style="text-align: center;">
                    <label for="nameOnCard">Name on card</label>
                    <input type="text" ng-model="nameOnCard" size="30" name="nameOnCard"/>
                  </div>
                  <div class="col-md-4"></div>
                  <div class="col-md-1">
                    <label for="cvc">&nbsp;&nbsp;CVC</label>
                    <input type="text" ng-model="cvc" payments-validate="cvc" payments-type-model="type" name="cvc" size="5"/>
                  </div>
                  <div class="col-md-1"></div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-offset-3">
                    <img src="images/SECURE-PAYMENT-LOGO.png" height="110" width="240" style="margin-top: 2em;">
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="timePicker col-md-offset-2">
            <md-time-picker ng-model="time.twelve" message="message"></md-time-picker>
          </div>
        </md-content>
      </md-tab>
      <!-- <md-tab label="Special"> -->
        <md-content class="md-padding">

        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
<a href="#!completed/"><div class="done" ng-show="timeSelected" ng-mouseover="changeColourOfGf()" ng-mouseleave="colourChange=''" ng-click="paymentSubmitted()">
  <span class="gf glyphicon glyphicon-ok {{colourChange}}"></span>
</div></a>
